.sign-up-form {
    width: 53%; 
    margin: 8rem auto 0 auto;
}

.button-row {
    width: 100%; 
    text-align: center;
}

.submit-button { 
    padding: .6rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1.5rem;
    width: 100%;
    color: white;
    border-radius: 10px;
    border: none;
    background-color: #663399;
    box-shadow: 4px 5px #47236b;
}
.submit-button:active {
    box-shadow: none;
    transform: translateY(4px);
}

.submit-button:hover {
    cursor: pointer;
}

.submit-button:disabled {
    background-color: #b2b2b2;
    color: grey;
    box-shadow:none;
    cursor: initial;
    transform: none;
}

.submit-button:active {
    background-color: green;
}